* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
/* Add margin to the top of All pages */
.all--pages {
  margin-top: 80px;
}
.about-img img{
  max-width: 100%;
}
.about-img{
  margin-top: 30px;
}
/* Error page */
.error {
  width: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
}
.error h1 {
  font-size: 50px;
  font-weight: bold;
  color: #0f7681;
}
.intro--header {
  text-align: center;
  color: #0f7681;
}
.share--btn{
  background-color: #0f7681;
  color: white;
  border: none;
  text-align: center;
  padding: 8px 30px;
  outline: none;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  transition: all 0.3s ease;
  text-decoration: none;
}
.share--btn:hover{
  box-shadow: inset 2px 2px 2px 4px rgba(0, 0, 0, 0.7);
}
/* Header styling */
.header {
  box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.3);
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header-content {
  padding: 20px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0f7681;
  font-weight: bold;
  align-items: center;
}
.logo .menu {
  font-size: 24px;
}
.nav-links {
  position: fixed;
  list-style: none;
  background-color: white;
  width: 60%;
  padding-top: 40px;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  transform: translateX(-100%);
  z-index: 5;
  height: 100vh;
}
.open {
  transform: translateX(0);
}
.nav-links li {
  color: rgb(27, 26, 26);
  font-size: 20px;
  padding: 10px 0;
  transition: 0.3s ease;
}
.nav-links li:hover {
  color: #0f7681;
  text-decoration: underline;
}
.nav-links .link {
  text-decoration: none;
}

/* LandingPage styling */
.landingpage-content {
  position: relative;
  top: 80px;
}
.image {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  background-position: 0%;
  margin-bottom: 100px;
}
.image2 {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  background-position: 0%;
}
.background {
  position: relative;
}

.carousel-indicators [data-bs-target] {
  display: none;
}
.background-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  top: 0;
  height: 90vh;
  z-index: 1;
  color: white;
}
.overlay-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20% auto;
  width: 90%;
}
.overlay-content p,
h1 {
  margin-bottom: 30px;
}
.overlay-content h1 {
  margin-top: 90px;
}
.overlay-content {
  font-size: 20px;
}
.overlay-content .learnMore {
  text-decoration: none;
}
.button {
  background-color: #0f7681;
  font-weight: bold;
  color: white;
  border: none;
  font-size: 19px;
  text-align: center;
  padding: 8px 30px;
  outline: none;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  transition: .3s ease;
}
.button:hover {
  background-color: white;
  color: #0f7681;
}
.rating--content {
  margin: 30px 0 60px;
  text-align: center;
  background-color: #2ba0ad;
  padding: 50px;
}
.rating--content h3 {
  color: #0a3c42;
  font-weight: bold;
}

/* Why choose us */
.why-choose-content {
  position: relative;
}
.why-choose--info {
  position: absolute;
  top: 140px;
  left: 20px;
}
.info {
  background-color: white;
  border-radius: 5px;
  padding: 20px 30px;
  text-align: center;
  margin-bottom: 30px;
}
.info-icon {
  color: #0f7681;
}
.bulb-icon {
  background-color: #dedefd;
  padding: 6px;
  border-radius: 100%;
}
.info2,
.info4 {
  position: relative;
  left: 70px;
}
.why-choose-img {
  width: 100%;
  height: 80vh;
  margin: 20px 0 30px;
}
.why-choose-img {
  width: 100%;
  object-fit: cover;
}
/* Client Feedback */
.client-feedback-cards {
  width: 95%;
  margin: 40px auto;
}
.feedback-card {
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.3);
}
.feedback-header {
  display: flex;
  gap: 20px;
  align-items: center;
  vertical-align: middle;
}
.feedback-img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}
/* Landing Page contact Section */
.contact2-img {
  display: none;
}
.contact2-form {
  background-color: #3bc3d2;
}
.contact2-form-content {
  width: 80%;
  margin: auto;
  padding: 30px 0;
}

.contact2 h2 {
  text-align: center;
  color: #0f7681;
  padding: 30px 0 0;
}
.contact2-input {
  width: 100%;
  transition: 0.3s ease;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}
.contact2-input:focus {
  border: 2px solid #0f7681;
}

.contact2-form-content textarea {
  height: 250px;
  width: 100%;
  outline: none;
  padding: 10px;
  transition: 0.3s ease;
  border-radius: 5px;
  border: none;
}
.contact2-form-content textarea:focus {
  border: 2px solid #0f7681;
}
.contact2-btn {
  margin: 20px auto;
  display: block;
  text-align: center;
}
.error-msg {
  color: red;
}

.success-msg {
  color: green;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  justify-content: center;
}

/* Form Page */
.modal--overlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  z-index: 5;
  height: 100vh;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}
.formPage {
  background-color: #187c87;
  position: relative;
  color: white;
  top: 85px;
}
.form-page-content {
  width: 90%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.form--data label {
  margin-bottom: 8px;
}
.form--data .input {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 5px;
  transition: 0.3s ease;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.form--data .input:hover {
  border-bottom: 2px solid #0f7681;
}
.form--data .other {
  background-color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 6px;
  width: 93%;
  transition: 0.3s ease;
}
.form--data .other:hover {
  border-bottom: 2px solid #0f7681;
}
.form--page span {
  color: #c12f32;
}
.form--data .submit--btn {
  background-color: white;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  width: 30%;
  text-align: center;
  font-weight: bold;
  color: #0f7681;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  transition: 0.3s ease;
}
.form--data .submit--btn:hover {
  background-color: #0f7681;
  color: white;
}
/* Services section */
.services-section {
  width: 90%;
  margin: auto;
}
.services {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}
.services img{
  width: 100%;
  object-fit: cover;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.services h1{
  margin-bottom: 20px;
}

/* About Section */
.bg-about {
  position: relative;
}
.bg-about h1 {
  position: absolute;
  bottom: 0;
  padding: 100px 20px;
  font-size: 50px;
  color: white;
  font-weight: bold;
}
.about--content {
  width: 90%;
  margin: 10% auto 20px;
}
.about--content h1,
hr,
p button {
  margin-bottom: 20px;
}
.about--content h1 {
  color: #0f7681;
}
.about--content hr {
  border-bottom: 2px dashed #0f7681;
}
.mail {
  text-decoration: none;
  color: #0f7681;
}
/* News Feed section */
.blog--section {
  margin: auto;
  width: 90%;
}
.blog--content {
  margin: 5em 0;
}
.blog--content h2 {
  margin-bottom: 20px;
}
.blog--cards article {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}
.blog--cards img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
}
.blog--content .show-more-blog {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.show-more-link {
  transition: 0.3s ease;
  border: 2px solid #0f7681;
  padding: 8px 30px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #0f7681;
  background-color: transparent;
  box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.3);
}
.show-more-link:hover {
  color: white;
  background-color: #0f7681;
}

/* Blog Page */
.blog--page .blog--contents {
  width: 90%;
  margin: 3% auto;
}
.blog--page h1 {
  padding-top: 30px;
  padding-left: 30px;
  color: #0f7681;
}
.blog--page img {
  max-width: 100%;
  border-radius: 8px;
  object-fit: cover;
}
.blog--contents article {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}
.blog--contents img,
h4 {
  margin-bottom: 30px;
}
.blog-link {
  margin: 30px 0;
}
.blog--links {
  background-color: #0f7681;
  color: white;
  border: none;
  text-align: center;
  padding: 8px 30px;
  outline: none;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  transition: all 0.3s ease;
  text-decoration: none;
}
.blog--links:hover {
  box-shadow: inset 2px 2px 2px 4px rgba(0, 0, 0, 0.7);
}
/* Single blog post */
.singlePost section {
  width: 90%;
  margin: 10% auto;
}
.singlePost section h4 {
  padding-top: 100px;
}
.singlePost section h2 {
  font-weight: 700px;
  margin-bottom: 20px;
}
.singlePost section img {
  width: 100%;
  max-height: 400px;
  border-radius: 5px;
  margin-top: 20px;
  object-fit: cover;
  margin-bottom: 20px;
}

/* Services page styling */
.service img {
  max-width: 100%;
  border-radius: 8px;
}
.services--page{
  width: 90%;
  margin: auto;
}
.services-page h1{
  padding: 30px 0 10px;
}
.servicesDetails {
  width: 80%;
  margin: auto;
}
.servicesDetails{
  padding: 50px 0;
}
.servicesDetails img{
  height: 480px !important;
}
.servicesDetails h1, p, img, .services--btn{
  margin-bottom: 20px;
}
.services--btn {
  border: none;
  padding: 10px 20px;
  background-color: #0f7681;
  color: white;
  border-radius: 5px;
  transition: 0.3s ease;
  text-decoration: none;
  box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.3);
}
.services--btn:hover {
  background-color: #fff;
  color: #0f7681;
  border: 2px solid #0f7681;
}
.servicesDetails img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
/* Contact Page Styling */
.contact-content {
  width: 90%;
  margin: auto;
  background-color: #278d98;
  padding: 10px 20px;
  border-radius: 5px;
}
.contact-content h2 {
  margin: 30px 0;
  text-align: center;
  color: white;
}
.contact-bg {
  position: relative;
}
.image-overlay {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.6);
  color: white;
  top: 0;
  height: 50vh;
  width: 100%;
  padding: 100px 20px 0;
  text-align: center;
}
.contact-address {
  width: 70%;
  margin: 30px auto 50px;
}
.contact-phone-details {
  background-color: white;
  box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 20px;
}
.contact-phone-details h5 {
  color: #0f7681;
}
.phone-content {
  display: flex;
  gap: 10px;
}
.phone-content .contact-icon {
  color: #0f7681;
  font-size: 20px;
}
.contact-email {
  text-decoration: none;
  cursor: pointer;
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form input {
  margin-bottom: 30px;
  padding: 10px;
  outline: none;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 5px;
  border-bottom: 2px solid #0f7681;
}
.contact .send-btn {
  width: 50%;
  margin: 0 auto 5%;
  display: block;
}
.modal {
  text-align: center;
  color: green;
}
/* Footer styling */
.footer {
  background-color: #0f7681;
  color: white;
  padding: 20px;
  margin-top: 30px;
}
.footer--content {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.footer--content li {
  list-style: none;
  line-height: 32px;
}
.social p {
  text-align: center;
}
.social ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
.social li {
  list-style-type: none;
  font-size: 24px;
}
.social-link {
  color: white;
  text-decoration: none;
  transition: 0.3s ease;
}
.social-link:hover {
  color: #c12f32;
  text-decoration: underline;
}

@media screen and (min-width: 640px) {
  .overlay-content {
    margin: 30% auto 0 !important;
    width: 70%;
  }
  .contact2-img img {
    object-fit: cover;
  }
  /* Contact Page */
  .image-overlay {
    padding: 160px 20px 0;
  }
}
/* Desktop-view styling */
@media screen and (min-width: 785px) {
  /* Header styling */

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links {
    display: flex;
    align-items: center;
    position: static;
    background-color: transparent;
    width: auto;
    padding: 0;
    transform: none;
    transition: 0.3s ease;
    height: auto;
  }
  .nav-links li {
    padding: 0 10px;
    color: #0f7681 !important;
  }
  .logo .menu {
    display: none;
  }
  /* Landing Page Styling */
  .image {
    height: 100vh;
  }
  .background-overlay {
    height: 100vh;
  }
  .overlay-content {
    margin: 15% auto 0 !important;
    width: 80%;
  }
  .overlay-content h1 {
    font-size: 60px;
    margin: 30px 0;
  }
  .overlay-content p {
    width: 60% !important;
  }
  .services {
    width: 90%;
    margin: 5% auto;
  }
  .services-content {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-items: center;
    align-items: center;
  }
  .service {
    height: 355px;
  }
  .rating--content {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    text-align: center;
  }
  /* Why Choose Us */
  .why-choose--info {
    left: 40px;
    top: 200px;
  }
  .info {
    padding: 20px 40px;
  }
  .why-choose-img {
    height: 90vh;
  }
  /* Client Feedback */
  .client-feedback-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  /* About Page */
  .about--content1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 20px;
  }
  .vision {
    flex-direction: row-reverse;
  }
  .about-content-text {
    width: 50%;
  }
  /* Landing page Contact Section */
  .contact2 {
    display: flex;
    width: 100%;
  }
  .contact2-img {
    display: block;
    width: 60%;
  }
  .contact2-img img {
    width: 100%;
    height: 650px;
    z-index: 99;
    object-fit: fill;
  }
  .contact2-form {
    width: 50%;
  }
  /* form page */
  .form--page {
    width: 50%;
    margin: auto;
  }
  .form--data .other {
    width: 96%;
  }
  /* News feed */
  .blog--cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  /* Blog  Page Styling */
  .blog--contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .blog--page h1 {
    padding-left: 80px;
  }
  .blog--contents img {
    height: 600px;
    object-fit: cover;
  }
  .singlePost section img {
    width: 100%;
    max-height: 100%;
  }
  .singlePost section {
    width: 80%;
    margin: 3% auto;
  }
  .singlePost section h4 {
    padding-top: 130px;
  }
  .image2 {
    height: 80vh;
  }
  .bg-about h1 {
    padding: 180px 30px;
    font-size: 70px;
  }

  /* Contact Page Styling */
  .contact .send-btn {
    width: 25%;
  }
  .image-overlay {
    height: 80vh;
  }
  .image-overlay-content {
    width: 70%;
    margin: 8% auto;
  }
  .image-overlay-content p {
    font-size: 20px;
    opacity: 0.8;
  }
  .contact-content-container {
    display: flex;
    width: 90%;
    margin: 8% auto;
    justify-content: space-between;
    align-items: center;
  }
  .contact-address {
    width: 40%;
  }
  .contact-content {
    width: 40%;
  }
  /* Footer styling */
  .footer--content {
    flex-direction: row;
    gap: 50px;
    margin: 30px 60px;
  }

  /* Services Page Styling */
  .services--page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .services-page h1{
    padding: 40px 0 0;
  }
  .services-section-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .servicesDetails{
    padding: 50px 0;
  }
  .servicesDetails h1, img{
    margin-bottom: 20px;
  }
  .servicesDetails img{
    height: 550px !important;
  }
}
